.input_field {
    border: 1px solid #e1e1e1
}

.error {
    font-size: 14;
    color: #ff0000;
}

.submit_btn 
{
    margin-top: 15px;
    border: 1px solid #e1e1e1;
    background: green;
    outline: none;
    font-size: 16px;
}
